.card {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 15.5%;
    width: 34%;
    left: 45%;
    top: 75%;
    margin-left: -12%;
    border-radius: 5px;
    position: fixed;
    margin-top: -18%;
    background-color: white;
    color: black;
}

.cardpred {
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 35%;
    width: 34%;
    left: 45%;
    top: 68%;
    margin-left: -12%;
    border-radius: 5px;
    position: fixed;
    margin-top: -18%;
    background-color: white;
    color: black;
}

.card:hover {
    box-shadow: 0 10px 18px 0 rgba(19, 19, 19, 0.61);
    transform: scale(1.02);
}

.container {
    margin-left: -2%;
    padding: 2px 14px;
}

.container p{
    font-size: 24px;
    padding-right: 15.5%;
    padding-top: 20.5%;
    float: right;
}

.container img{
    border-radius: 5px;
    border-color: black;
}

body{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
}

input[type=file]{
    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 5px; 
}

button{
    width: 100%;
    padding: 15px 15px;
    margin: 10px 6.5px;
    box-sizing: border-box;
    border: 2px solid #97ce02;
    background-color: #97ce02;
    border-radius: 5px; 
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

button:hover[id=goHome]{
    transition: 0.2s;
    transform: scale(1.02);
}

img {
    vertical-align: middle;
}

header{
    background-color: #97ce02;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: center;
    background: #141414;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 1em ;
    background: #141414;
}

nav ul li img{
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 8px;
}

nav ul li img:hover{
    transform: scale(1.05);
}

nav ul li p{
    vertical-align: middle;
    padding-top: 2px;
    display: inline;
}

nav ul li p:hover{
    transform: scale(1.05);
}

nav a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-family:'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 4px;
    letter-spacing: 1px;
    transition: .25s ease-in-out;
    background: #141414;
    display: inline-block;
}

nav a:hover {
    color: #97ce02;
    transform: scale(1.05);
}

.nav-bg {
    text-align: left;
    position: absolute;
    margin: 0 15px 0 0;
    display: block;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #97ce02;
    color: #97ce02;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline;
    padding-left: 100%;
}
  
.btn
{
    border: 0px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    float: center;
    width: 100%;
    text-decoration: underline;
}
  
.upload-btn-wrapper input[type=file] 
{
    font-size: 30px;
    position: absolute;
    opacity: 0;
    left: 0;
    top: -9.5px;
    width: 100%;
    float: center;
}